bin/
obj/
.idea/

Backend.Api/Files/
Backend.Api/Files_old/

Backend.Api/wwwroot/*

*.user

data
frontend/temp/
temp/


TestClients/BackupClientTest/TestFiles/Encrypted/*
TestClients/BackupClientTest/TestFiles/Decrypted/*
