bin/
obj/
.idea/

Backend.Api/Files/
Backend.Api/Files_old/

Backend.Api/wwwroot/*

*.user

data
frontend/temp/
frontend/dist/
frontend-dist/
temp/
publish/


TestClients/BackupClientTest/TestFiles/Encrypted/*
TestClients/BackupClientTest/TestFiles/Decrypted/*
.DS_Store
