/* Dropdown.css */
.dropdown {
    position: relative;
    display: inline-block;

    &>.dropdown-button {
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
    }

    &>.dropdown-content {
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0 0 1em rgb(from black r g b / .2);
        border-radius: 0 0 3px 3px;

        &>* {
            text-align: left;
        }
    }

    &:not(:last-child) .dropdown-content {
        left: 0;
    }
    
    &:last-child .dropdown-content {
        right: 0;
    }

    &>.dropdown-content .dropdown-item {
        color: black;
        background-color: transparent;
        padding: .5em 1em;
        text-decoration: none;
        display: block;
        width: 100%;
        border: none;

        &>.dropdown-item.active {
            cursor: pointer;
        }

        &>.dropdown-item.active:hover {
            background-color: #f1f1f1;
        }
    }
}









/* Mobile responsiveness */
@media screen and (max-width: 600px) {
    .dropdown {
        width: 100%;
    }

    .dropdown-content {
        width: 100%;
    }
}