form,
.form {
    & table {
        width: 100%;

        td:first-child {
            width: 5em;
        }

        td+td {
            padding-left: 1em;
        }
    }

    & input,
    & select,
    & textarea,
    & button,
    & label,
    & .filedropzone {
        margin: .5em 0;
    }

    & input,
    & span.input,
    & button
    {
        &+input,
        &+span.input,
        &+button {
            margin-left: 1em;
        }
    }

    & input[type="checkbox"] {
        transform: scale(1.4) translate(.14em, -.08em);

        &+label {
            margin-left: 1em;
        }
    }

    & input,
    & span.input,
    & button {
        margin: .5em 0;
        padding: .3em .6em;
        border-radius: .5em;
        border: thin solid lightgray;
        font-size: 1em;
    }

    & span.input {
        & input {
            height: 2.1em;
            /* HERE!!! */
            outline: none;
            /* border: none; */
            background: pink;
        }

    }

    & span.input:has( :focus) {
        outline: medium auto currentColor;
        outline: medium auto invert;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    & .link-button {
        background: transparent;
        border: none;
        color: blue;
        color: -webkit-link;
        text-decoration: underline;
        cursor: pointer;
        padding: 0;
        margin: 0;
        display: inline;
    }

    & button[type="submit"],
    & button.primary {
        background: var(--primary-button-background-color);
        color: var(--primary-button-text-color);
    }

    & button {
        cursor: pointer;
    }

    .filedropzone {
        border: thin solid lightgray;
    }
}