
@media (min-width: 955px) {
    main {
        width: 940px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 954px) {
    main {
        margin-left: .5em;
        margin-right: .5em;
    }
}


