.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    &>* {
        padding: .7em 1.4em;
    }

    &>header,
    &>footer {
        background: var(--complementary-background-color);
        color: var(--complementary-text-color);

        & a {
            color: currentColor;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &>main {
        align-self: top;
        flex-grow: 1;
    }

}

.layout-container {

    header {
        background: url(../assets/receiptly_logo.png) no-repeat 27px/27px;
        background-position: .6em .3em;
        background-color: var(--complementary-background-color);

    }
}

.indexpage {
    background: whitesmoke;
    max-width: 500px;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
    padding: 0 1em 1px 1em;
}

.signinpage {
    display: flex;
    flex-direction: row;
    justify-content: left;

    >*:last-child {
        flex-grow: 1;
    }
}

 @media (min-width: 955px) {
    main {
        width: 940px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media  (max-width: 954px) {
    main{
        margin-left: .5em;
        margin-right: .5em;    
    }
}



.horizontal-evenly-spaced-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .vertical-stacked-down-flex {
    display: flex;
    flex-direction: column;
} */


