## This is a template for the .env file.
# op:// means that the value is stored in 1Password.
# The first part of the path: "Private" and "MpaDevelopment" are the vaults where the secrets are stored.
# The second part of the path is the name of the item in 1Password.
# The third part of the path is the name of the field in the item in 1Password.

MPA__CertificatePassword=pass

# KEYCLOAK_ADMIN_USERNAME=op://Private/Keycloak Admin/username
# KEYCLOAK_ADMIN_PASSWORD=op://Private/Keycloak Admin/password

KEYCLOAK_ORG_ADMIN_API_BASE_URL=op://MpaDevelopment/org-admin-api/base-url
KEYCLOAK_ORG_ADMIN_API_AUTHORITY=op://MpaDevelopment/org-admin-api/authority
KEYCLOAK_ORG_ADMIN_API_REALM=op://MpaDevelopment/org-admin-api/realm
KEYCLOAK_ORG_ADMIN_API_CLIENT_ID=op://MpaDevelopment/org-admin-api/client-id
KEYCLOAK_ORG_ADMIN_API_CLIENT_SECRET=op://MpaDevelopment/org-admin-api/client-secret

KEYCLOAK_MY_PERSONAL_ARCHIVE_BASE_URL=op://MpaDevelopment/my-personal-archive/base-url
KEYCLOAK_MY_PERSONAL_ARCHIVE_AUTHORITY=op://MpaDevelopment/my-personal-archive/authority
KEYCLOAK_MY_PERSONAL_ARCHIVE_REALM=op://MpaDevelopment/my-personal-archive/realm
KEYCLOAK_MY_PERSONAL_ARCHIVE_CLIENT_ID=op://MpaDevelopment/my-personal-archive/client-id
KEYCLOAK_MY_PERSONAL_ARCHIVE_CLIENT_SECRET=op://MpaDevelopment/my-personal-archive/client-secret
KEYCLOAK_MY_PERSONAL_ARCHIVE_CALLBACK_PATH=op://MpaDevelopment/my-personal-archive/callback-path
KEYCLOAK_MY_PERSONAL_ARCHIVE_SIGNED_OUT_CALLBACK_PATH=op://MpaDevelopment/my-personal-archive/signed-out-callback-path
KEYCLOAK_MY_PERSONAL_ARCHIVE_DEFAULT_REDIRECT_PATH=op://MpaDevelopment/my-personal-archive/default-redirect-path

LOCAL_AUTH_JWTSECRET=op://MpaDevelopment/mpa-local-auth/JWT Secret
LOCAL_AUTH_JWTISSUER=op://MpaDevelopment/mpa-local-auth/JWT Issuer
LOCAL_AUTH_AUDIENCE=op://MpaDevelopment/mpa-local-auth/Audience
